<!DOCTYPE HTML>
<html>
<head>
  <title><%= @title %></title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
</head>
<body>
  <h3><%= "Which pull request do you need to be reviewed @#{@user_name}?" %></h3>
  <form name="input" action="review" method="POST">
    Pull request: <input type="text" name="pull_request">
    <input type="submit" value="Ask for review">
  </form>
  <a href="/logout">Logout</a>
</body>
</html>
